.pfi_file_wrapper {
  width: 400px;
  position: relative;
  display: inline-block;
  height: $inputHeight;

  // Position the items absolutely
  input, .input_group {
    width: 400px;
    position: absolute;
    top: 0;
    left: 0;
  }

  // Hide the input via opacity
  input {
    opacity: 0;
  }

  .input_group {
    // Necessary for ellipsis to work
    table-layout: fixed;

    span {
      display: table-cell;
      width: 65%;
      padding: 0 0.5rem;
      border: 1px solid $lightGray;
      border-right: 0;
      color: $darkGray;
      border-top-left-radius: $radius;
      border-bottom-left-radius: $radius;
      @include ellipses;

      &.is_error {
        border-color: $errorColor;
      }
    }

    a {
      width: 35%;
    }
  }
}

// Override label weight
label.pfi_file_wrapper {
  font-weight: $weightNormal;
}
